extends sidebar
block sysmain
	script.
		window.onload = function(){
			document.getElementById("homesidebar").className = "active";
		}
	p home page!
	a(href="/admin/users/edit?userid=#{user.userid}") Edit #{user.firstname} #{user.lastname}
