extends sysheader
block sidebar
	ul.sys_nav
		li.inactive(id='homesidebar')
			a(href="/home") Dashboard
	for users in user.usertype
		if(users == "admin")
			ul.sys_nav
				li.inactive(id='adminsidebar')
					span Site Settings
					ul
						li.inactive
							a(href="/admin") Admin Page
						li.inactive
							a(href="/admin/users") Manage Users
						li.inactive
							a(href="/admin/district") Manage Districts
						li.inactive
							a(href="/admin/school") Manage Schools
		if(users == "districtadmin")
			ul.sys_nav
				li.inactive(id='distadminsidebar')
					span District Administrator
					ul
						li.inactive
							a(href="/distadmin") District Admin Page
						li.inactive
							a(href="/distadmin/course") Manage Courses	
						li.inactive
							a(href="/distadmin/users") Manage Users
						li.inactive
							a(href="/distadmin/school") Manage Schools
		if(users == "caseloadmanager")
			ul.sys_nav
				li.inactive(id='caseloadmanagersidebar')
					span Caseload Manager
					ul
						li.inactive
							a(href="/home") Caseload Manager Page
		if(users == "teacher")
			ul.sys_nav
				li.inactive(id='teachersidebar')
					span Teacher
					ul
						li.inactive
							a(href="/teacher") Teacher Page
						li.inactive
							a(href="/teacher/courses") Manage My Courses
		if(users == "student")
			ul.sys_nav
				li.inactive(id='studentsidebar')
					span Student
					ul
						li.inactive
							a(href="/home") Student Page

