body { 
	background: #eaeaea;
	background: #EEE url(../images/bg_body.png) 0 0 repeat;
	color: #999;
	font: 100%/1.5em sans-serif;
	margin: 0;
}
h1 { background: green; padding: 20px; font-size: 1.2em; color: white; 
	margin: 0 0 20px 0; }
#content { padding: 0 20px; }

.alerts { padding: 0; margin-bottom: 20px; font-size: .9em; }
	.alerts li { margin-bottom: 3px; list-style: none; }
	.alerts li.success { background: #c8eebf; border:1px solid green; color:green; 
		padding: 8px; }
	.alerts li.warning { background: #f6f6cf; border:1px solid orange; color:orange; 
		padding: 8px; }
	.alerts li.error { background: #fce9e9; border:1px solid red; color:red; 
		padding: 8px; }

label { float: left; width: 140px; display: block; padding-top:6px; }
input { width: 220px; padding: 4px; float: left; }
input.submit { width: 80px; }

.required { color: red; font-size: .8em; margin: 20px 0; }
div.error { float: left; color: red; padding: 6px 0 0 10px; font-size:.8em; }
.row { clear:both; margin-bottom: 4px; float:left; }

fieldset {
	border: none;
	margin: 0;
}

/* ---------- LOGIN-FORM ---------- */

#login-form {
	margin: 15% auto;
	width: 280px;
	font-size: 12px;
}

#login-form h3 {
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 35px 20px;
	text-transform: uppercase;
}

#login_logo {
	margin: 0 10px 0 10px;	
}

#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
	top: -15px;
	
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input[type="submit"] {
	background: #A91207;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;	
	padding: 12px 20px;
	border: none;
	margin: 10px 0px;
}

#login-form input[type="submit"]:hover { background: #C80000; }